@import url(./__link/feynman__link.css);
@import url(./__main-illustration/feynman__main-illustration.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__title/feynman__title.css);

.feynman {
    z-index: 1;
    min-height: 790px;
    background-color: #F2F2F2;
    position: relative;
    padding-top: 80px;

}